

<div class="grid justify-content-center pt-6 bg-primary div-shadow">

  <mat-card class="mat-shadow">
    <mat-card-content>
      <form [formGroup]="myForm" (ngSubmit)="login()">
        <div class="col-12 col-offset-2">
          <h1>Iniciar sesion</h1>

        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>
              E-mail
            </mat-label>
            <input matInput formControlName="email" placeholder="email" type="email">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>
              Password
            </mat-label>
            <input matInput formControlName="password" placeholder="email" type="password">
          </mat-form-field>
        </div>
        <div class="col-12 col-offset-2">
          <button mat-raised-button color="primary" >Iniciar Sesion</button>
        </div>
      </form>
      <p>No tienes una cuenta?</p>
      <a routerLink="/auth/register">Registrate Aqui</a>
      <br>
      <a routerLink="/map">Ir al mapa</a>
    </mat-card-content>
  </mat-card>

</div>

